.git
**/.git
node_modules
**/node_modules
coverage
**/coverage
test
**/test
.env*
**/.env*
.npmrc
**/.npmrc
ftp-servers.json
**/ftp-servers.json
.ftp-mcp
**/.ftp-mcp
.ssh
**/.ssh
*.pem
**/*.pem
*.key
**/*.key
id_rsa*
**/id_rsa*
id_ed25519*
**/id_ed25519*
